<!--The content below is only a placeholder and can be replaced.-->
<p-menubar [model]="items" [autoDisplay]="false">
    <div>
        <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="fa-sign-out"></button>
	</div>
</p-menubar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<input type="text" pInputText placeholder="Enter your name"
 (change)="onChangeEvent($event)" />
 <button pButton type="text"
   (click)="greetMe()" icon="fa-check" label="une petite question en passant"></button>
 <p> {{theUserSaid}} </p>
 <p-confirmDialog width="400"></p-confirmDialog>
<p-accordion>
  <p-accordionTab header="About"  [selected]="true">
	  <p>Pas très original comme nom, surtout pour un projet qui n'est que la reproduction d'un autre projet libre déjà réalisé.</p> 

	  <p>On veut faire <a href='http://www.isn-services.com/fr/tips/chatiere'> cela:</a> , une chatière électronique qui ne s'ouvre que pour laisser passer le chat qui porte un certain chip RFID au collier.</p>
	  <p>Par rapport à cet exemple (du moins à ce qu'on voit dans la demo), on va faire quelques améliorations:</p> 
	  <p>c'est une chattière pour la porte d'une chambre où les chats peuvent avoir accès ou ne pas avoir accès. On va donc faire un actuador porur l'entrée et un autre pour la sortie.</p> 
	  <p>De plus, l'exemple semble être pour un seul chat (quand il enregistre le deuxième chip RFID, cela efface automatiquement le précédent). Nous, nous voudrios avoir plusieurs chats, et les identifier par leur RFID.</p> 
	  <p>Enfin, le code proposé ne conserve pas les clés RFID lorsque le dispositif s'éteint: il faudrait que les clés RFID utilisées soient stokées dans une memoire permanente pour que la chatière reconnaisse ses chats dès qu'elle est allumée.</p> 
	  <br />
	  Le premier prototype à produire incluera uniquement ces fonctions. 
		  <ul>On pourra ultérieurement 
			  <li>suivre les chats, et savoir s'ils sont dedans ou dehors.</li>  
			  <li>piloter la chatiere a distance.</li> 
		  </ul>
		  <br />
      <p>Sur mercado libre (https://articulo.mercadolibre.com.uy/MLU-449545388-lector-mifare-rfid-mfrc522-android-arduino-rc522-1356mhz-_JM) on trouve ceci: https://playground.arduino.cc/Learning/MFRC522</p>
	  <p>Vendeur RFID en Mercadolibre ( sergio sosa cedres    098642532) a plein de produit robotiques intéssants et à bon prix:<br />
		  <a href='https://listado.mercadolibre.com.uy/_CustId_85616756'>Url du vendeur MercadoLibre</a><br />
		  Spécifications: <a href='http://api.ning.com/files/L2JocXLTjnRlhPlqnptOS4c*L6rSRKyOGLaJIKDf-bL5VadiGOAXDZQoN7kwatXIpVQ8lqUQSuE-ULkHl56ySXji2wyIUmuO/rfidmifare.doc'>Ici</a> (attention à copier l'URL complete)</p>
	  <br />
	  On a recu la chatière, encore manuelle: <a href='https://articulo.mercadolibre.com.uy/MLU-444696272-puerta-para-gatoso-perros-o-conejos-o-hurones--_JM'>Fiche produit sur Mercado Libre</a>
	<ul>Elle a 4 positions: 
		<li>les chats circulent librement,</li> 
		<li>les chats peuvent entrer mais non sortir (represente par un chat dans une maison)</li>
		<li>les chat peuvent sortir mais non entrer (represente par un chat à côté d'une maison)</li>
		<li>les chats ne peuvent ni entrer ni sortir (cadenas)</li>
	</ul>
	<p>La première idée avait été de piloter ce bouton depuis l'arduino, maisl après réflexion, il vaut mieux laisser ce bouton tel quel pour un usage manuel, et créer avec les servos un mécanisme similaire sur le côté de la porte.
		<br />
		La première raison est que la plupart des servo ont un déplacement de 180°, et pour agir sur ce bouton à 40 positions il faudrait au moins 270°. Cela existe, des servo à 360°, mais c'est plus rare, je n'en ai pas vu en Uruguay, va savoir leur interface, c'est faire quelque chose de plus facile, etc. 
		<br />
		La deuxième c'est que c'est difficile d'agir sur le bouton sans dégrader le fonctionnement mécanique de ce dernier. 
		
		<br />La troisième que c'est dommage de se priver d'un utilisation manuelle, qui peut servir si on veut éteindre où en cas de panne électrique, ou tout simplement sans éteindre, pour dormir une sieste dans la pièce (sans avoir à aller programmer la domotique...) </p>

</p-accordionTab>
  <p-accordionTab header="Cablage du arduino et intégration dans la chatière" [selected]="true" >
    à faire ....
  </p-accordionTab>
  <p-accordionTab header="Configuration des clefs rfid et fonctionnement général" [selected]="true">
    <p-radioButton
      label="ajouter une clef rfid"
      name="add"
      value="add"
      [(ngModel)]="pizzaSelection">
    </p-radioButton><br>

    <p-radioButton
      label="supprimer une clef"
      name="del"
      value="del"
      [(ngModel)]="pizzaSelection">
    </p-radioButton><br>

    <p-radioButton
      label="editer une clef"
      name="edit"
      value="edit"
      [(ngModel)]="pizzaSelection">
  </p-radioButton><br>
    <p-radioButton
      label="Définir / Editer la fiche de la chatière"
      name="define"
      value="define"
      [(ngModel)]="pizzaSelection">
    </p-radioButton><br>
  </p-accordionTab>
  <p-accordionTab header="Stats Logs et Mapping des allée et venues" [selected]="true">
  <p> à definir </p>
  </p-accordionTab>
</p-accordion>

<br>

<p-panel header="Extras" *ngIf="pizzaSelection && pizzaSelection.length">
  SOuhaitez vous voir les logs de tous vos chats 
  <button pButton type="button" label="Ok, yeah!"></button>
</p-panel>
